:root{
    /* Colors */

    --dark-red: #b23831;
    --light-red: #D11D27;
    --rose-red: #FBEBD8;
    --maroon: #532f35;
    --burgundy: #cec3a8;
    --light-gray: #bfbfbf;
    --disabled: 	#F0F0F0;
    --white: #fff;

    /* Fonts */
    --poppins: 'Poppins', sans-serif;
    
}

*{
    margin: 0;
    padding: 0;
}